@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap);

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Red Hat Display", sans-serif;
  background: url(/images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}
main {
  padding: 0px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  font-size: 16rem;
  max-width: 450rem;
  overflow: hidden;
  border-radius: 32px;
  background-color: white;
  align-items: center;
  gap: 25rem;
  box-shadow: 0 20px 20px 2.5px hsla(245, 250%, 20%, 0.250);
}

img {
  display: block;
  min-width: 100%;
}
.Summary {
  max-width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.order {
  width: 80%;
  display: flex;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15rem;
  padding: 20rem;
  align-items: center;
}
.Annual_Plan {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 15rem;
}
.Butão {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30rem;
}
button:nth-of-type(1) {
  background-color: hsl(245, 75%, 52%);
  padding: 20rem 100rem;
  border-radius: 15rem;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 15px 10px hsl(225, 100%, 94%);
  font-weight: 900;
  font-size: 16rem;
}

button:nth-of-type(2) {
  max-width: fit-content;
  padding: 5rem 15rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  font-size: 18rem;
}
/*======================STYLE======================*/

h1,
strong {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

p,
span,
.attribution {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

.order a{
  color: rgb(150, 50, 250);
}

@media (min-width: 600px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }
}
